body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  margin: 150px auto;
}

.form > * {
  margin: 5px;
}

.label {
  text-align: right;
  padding:
}

.field {
  width: 80%;
}

.button {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: block;
  margin: 0 auto;
}
